.box:hover {
  box-shadow: unset !important;
}

.quant {
  display: table;
  width: 50%;
  text-align: center;
  margin-inline: auto;
}

.table > thead > tr > th {
  vertical-align: middle !important;
  text-align: center;
  font-size: 20px !important;
}

.table > tbody > tr > td {
  vertical-align: middle;
  font-size: 20px !important;
}

#tbody {
  vertical-align: middle;
  text-align: center;
}

.check-btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
}
