@import url("https://fonts.googleapis.com/css2?family=Meow+Script&family=Outfit:wght@300;400;500;600;700&display=swap");

/* font-family: 'Meow Script', cursive; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EEE2DF;
  padding: 30px;


}
  .container{
    position: relative;
    width: 900px;
    height: 493px;
    perspective: 2700px;
    background: #dedede;
    box-shadow: 0px 2px 31px 8px rgba(0, 0, 0, 0.12);
  }

.container .cover{
  position: absolute;
  top: 0;
  right: 50%;
  height: 100%;
  width: 50%;
  z-index: 20;
}

.container .cover::before,
.container .cover::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #905634;
  opacity: 0.5;
  z-index: 12;
}

.container .cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 109;
}

.container .forms{
  position: relative;
  width: 900px;
  height: 493px;
  perspective: 2700px;
  background: #ffffff;
}

.container .form-content{
  display: flex;
  left: 100%;
  align-items: center;
  justify-content: space-between;
}

.form-content .Newpass-form{
  width: calc(200% / 2 - 25px);
}

.container .form-content .title{
  position: relative;
  left: 57%;
  margin-top: 90px;
  font-family:  "SemiBold", sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 28px;
  color: #432818;
}

.container .textline{
  position: relative;
  left: 57%;
  margin-top: -2px;
  font-family:  "SemiBold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #432818;

}
::placeholder {
  position: relative;
  font-style: "SemiBold", sans-serif;
  font-size: 10px;
  color: #432818;
  padding: 5px;
}

.container form {
  margin-top: 40px;
}

form .field {
  margin-bottom: 28px;
}

form .input-field {
  position: relative;
  height: 55px;
  width: 100%;
}

.container .input-field input {
  position: relative;
  left: 57%;
  height:90%;
  width: 40%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0 50px;
  border: 1px solid #d1d1d1;
}
.container .invalid input {
  border-color: #d93025;
}
.container .input-field .show-hide {
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #919191;
  cursor: pointer;
  padding: 3px;
}
.container .field .error {
  position: absolute;
  left: 57%;
  display: flex;
  align-items: center;
  color: #d93025;
  font-size: 13px;
  display: none;
}
.container .invalid .error {
  display: flex;
}
.error .error-icon {
  position: absolute;
  right: 100%;
  color: #d93025;
  margin-right: 6px;
  font-size: 15px;
}
.create-password .error {
  align-items: flex-start;
}
.create-password .error-icon {
  margin-top: 4px;
}

.button {
  margin: 50px 0 6px;
}
.button input {
  color: #fff;
  font-size: 10px;
  font-weight: 300;
  background-color: #905634;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input:hover {
  background-color: #905634;
}
.account label{
  color: #905634;
  cursor: pointer;
  font-size: 12px;
}

